{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <title>{{template "title" .}} - ReadingList</title>
  <link type='stylesheet' href="static/css/main.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
</head>
    <body>
        <header>
          <h1><a href="/">Reading List</a></h1>
        </header>
		{{template "nav" .}}
        <main>
            {{template "main" .}}
        </main>
        
    </body>
</html>
{{end}}